In [26]:
import os
import pandas as pd
import pyodbc
from langchain.chat_models import AzureChatOpenAI
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain import SQLDatabaseChain
from langchain.chains import SQLDatabaseSequentialChain
from langchain.agents import AgentExecutor
from langchain.callbacks.manager import CallbackManager

from IPython.display import Markdown, HTML, display  


def printmd(string):
    display(Markdown(string))

In [9]:
import os
os.environ["OPENAI_API_TYPE"] = "azure"
os.environ["OPENAI_API_VERSION"] = "2023-03-15-preview"
os.environ["OPENAI_API_BASE"] = "https://aoaitest3.openai.azure.com/"
os.environ["OPENAI_API_KEY"] = "60bf5d22eb3d4b479e241786edbf2408"

In [5]:
import os  
  
os.environ["SQL_SERVER_USERNAME"] = "vaalt"  
os.environ["SQL_SERVER_ENDPOINT"] = "vaalt.database.windows.net"  
os.environ["SQL_SERVER_PASSWORD"] = "Lardosa!12"  
os.environ["SQL_SERVER_DATABASE"] = "vaalt1"

In [69]:
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

db_config = {  
    'drivername': 'mssql+pyodbc',  
    'username': os.environ["SQL_SERVER_USERNAME"] + '@' + os.environ["SQL_SERVER_ENDPOINT"],  
    'password': os.environ["SQL_SERVER_PASSWORD"],  
    'host': os.environ["SQL_SERVER_ENDPOINT"],  
    'port': 1433,  
    'database': os.environ["SQL_SERVER_DATABASE"],  
    'query': {'driver': 'ODBC Driver 18 for SQL Server'}  
}  


# Create a URL object for connecting to the database
db_url = URL.create(**db_config)

# Print the resulting URL string
# print(db_url)

# Connect to the Azure SQL Database using the URL string
engine = create_engine(db_url)

# Test the connection
try:
    conn = engine.connect()
    print("Connection successful!")
    result = engine.execute("SELECT @@Version")
    for row in result:
        print(row)
    conn.close()
    
except OperationalError:
    print("Connection failed.")

Connection successful!
('Microsoft SQL Azure (RTM) - 12.0.2000.8 \n\tJul  8 2023 12:00:47 \n\tCopyright (C) 2022 Microsoft Corporation\n',)

In [88]:
import pyodbc  
  
server = 'vaalt.database.windows.net'  
database = 'vaalt1'  
username = 'vaalt'  
password = 'Lardosa!12'  
driver = '{ODBC Driver 18 for SQL Server}'  
  
cnxn = pyodbc.connect(f'DRIVER={driver};SERVER={server};PORT=1433;DATABASE={database};UID={username};PWD={password}')  
cursor = cnxn.cursor()  
  
# List all tables  
cursor.execute("SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES;")  
rows = cursor.fetchall()  
if rows:  
    print("Tables:")  
    for row in rows:  
        print(f'{row[0]}.{row[1]}')  
  
cursor.close()  
cnxn.close()

Tables:
sys.database_firewall_rules
dbo.covidtracking
dbo.Titanic
SalesLT.Customer
SalesLT.ProductModel
SalesLT.vProductModelCatalogDescription
SalesLT.ProductDescription
SalesLT.Product
SalesLT.ProductModelProductDescription
SalesLT.vProductAndDescription
SalesLT.ProductCategory
SalesLT.vGetAllCategories
dbo.BuildVersion
dbo.ErrorLog
SalesLT.Address
SalesLT.CustomerAddress
SalesLT.SalesOrderDetail
SalesLT.SalesOrderHeader

In [84]:
titanic = pd.read_csv("data/titanic.csv").fillna(value=0)

for col in titanic.columns:
    if titanic[col].dtype == "float64":
        titanic.loc[titanic[col] == float("inf"), col] = 1
        titanic.loc[titanic[col] == float("-inf"), col] = -1

In [87]:
# Create dataframe from csv file

cnxn = pyodbc.connect(f'DRIVER={driver};SERVER={server};PORT=1433;DATABASE={database};UID={username};PWD={password}')  
cursor = cnxn.cursor()  

# Insert Dataframe into SQL Server:

# Define the create table statement
create_table_query = """
CREATE TABLE Titanic (
    PassengerId int PRIMARY KEY,
    Survived bit NOT NULL,
    Pclass int NOT NULL,
    Name varchar(100) NOT NULL,
    Sex varchar(10) NOT NULL,
    Age float NULL,
    SibSp int NOT NULL,
    Parch int NOT NULL,
    Ticket varchar(20) NOT NULL,
    Fare float NOT NULL,
    Cabin varchar(20) NULL,
    Embarked char(1) NULL
);
"""

# Execute the statement using cursor.execute
cursor.execute(create_table_query)


for index, row in titanic.iterrows():
     cursor.execute(
    "INSERT INTO dbo.[Titanic] (PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked) values(?,?,?,?,?,?,?,?,?,?,?,?)",
    row.PassengerId,
    row.Survived,
    row.Pclass,
    row.Name,
    row.Sex,
    row.Age,
    row.SibSp,
    row.Parch,
    row.Ticket,
    row.Fare,
    row.Cabin,
    row.Embarked
)
cnxn.commit()
cursor.close()

In [113]:
cnxn = pyodbc.connect(f'DRIVER={driver};SERVER={server};PORT=1433;DATABASE={database};UID={username};PWD={password}')  
cursor = cnxn.cursor()  
print(cursor.execute("select * from dbo.[Titanic]"))
results = cursor.fetchall()

for row in results:
    print(row)

<pyodbc.Cursor object at 0x000002328F68FDB0>
(1, False, 3, 'Braund, Mr. Owen Harris', 'male', 22.0, 1, 0, 'A/5 21171', 7.25, '0', 'S')
(2, True, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38.0, 1, 0, 'PC 17599', 71.2833, 'C85', 'C')
(3, True, 3, 'Heikkinen, Miss. Laina', 'female', 26.0, 0, 0, 'STON/O2. 3101282', 7.925, '0', 'S')
(4, True, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35.0, 1, 0, '113803', 53.1, 'C123', 'S')
(5, False, 3, 'Allen, Mr. William Henry', 'male', 35.0, 0, 0, '373450', 8.05, '0', 'S')
(6, False, 3, 'Moran, Mr. James', 'male', 0.0, 0, 0, '330877', 8.4583, '0', 'Q')
(7, False, 1, 'McCarthy, Mr. Timothy J', 'male', 54.0, 0, 0, '17463', 51.8625, 'E46', 'S')
(8, False, 3, 'Palsson, Master. Gosta Leonard', 'male', 2.0, 3, 1, '349909', 21.075, '0', 'S')
(9, True, 3, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27.0, 0, 2, '347742', 11.1333, '0', 'S')
(10, True, 2, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14.0, 1, 0, '237736', 30.0708, '0', 'C')
(11, True, 3, 'Sandstrom, Miss. Marguerite Rut', 'female', 4.0, 1, 1, 'PP 9549', 16.7, 'G6', 'S')
(12, True, 1, 'Bonnell, Miss. Elizabeth', 'female', 58.0, 0, 0, '113783', 26.55, 'C103', 'S')
(13, False, 3, 'Saundercock, Mr. William Henry', 'male', 20.0, 0, 0, 'A/5. 2151', 8.05, '0', 'S')
(14, False, 3, 'Andersson, Mr. Anders Johan', 'male', 39.0, 1, 5, '347082', 31.275, '0', 'S')
(15, False, 3, 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', 14.0, 0, 0, '350406', 7.8542, '0', 'S')
(16, True, 2, 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', 55.0, 0, 0, '248706', 16.0, '0', 'S')
(17, False, 3, 'Rice, Master. Eugene', 'male', 2.0, 4, 1, '382652', 29.125, '0', 'Q')
(18, True, 2, 'Williams, Mr. Charles Eugene', 'male', 0.0, 0, 0, '244373', 13.0, '0', 'S')
(19, False, 3, 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', 31.0, 1, 0, '345763', 18.0, '0', 'S')
(20, True, 3, 'Masselmani, Mrs. Fatima', 'female', 0.0, 0, 0, '2649', 7.225, '0', 'C')
(21, False, 2, 'Fynney, Mr. Joseph J', 'male', 35.0, 0, 0, '239865', 26.0, '0', 'S')
(22, True, 2, 'Beesley, Mr. Lawrence', 'male', 34.0, 0, 0, '248698', 13.0, 'D56', 'S')
(23, True, 3, 'McGowan, Miss. Anna "Annie"', 'female', 15.0, 0, 0, '330923', 8.0292, '0', 'Q')
(24, True, 1, 'Sloper, Mr. William Thompson', 'male', 28.0, 0, 0, '113788', 35.5, 'A6', 'S')
(25, False, 3, 'Palsson, Miss. Torborg Danira', 'female', 8.0, 3, 1, '349909', 21.075, '0', 'S')
(26, True, 3, 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'female', 38.0, 1, 5, '347077', 31.3875, '0', 'S')
(27, False, 3, 'Emir, Mr. Farred Chehab', 'male', 0.0, 0, 0, '2631', 7.225, '0', 'C')
(28, False, 1, 'Fortune, Mr. Charles Alexander', 'male', 19.0, 3, 2, '19950', 263.0, 'C23 C25 C27', 'S')
(29, True, 3, 'O\'Dwyer, Miss. Ellen "Nellie"', 'female', 0.0, 0, 0, '330959', 7.8792, '0', 'Q')
(30, False, 3, 'Todoroff, Mr. Lalio', 'male', 0.0, 0, 0, '349216', 7.8958, '0', 'S')
(31, False, 1, 'Uruchurtu, Don. Manuel E', 'male', 40.0, 0, 0, 'PC 17601', 27.7208, '0', 'C')
(32, True, 1, 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'female', 0.0, 1, 0, 'PC 17569', 146.5208, 'B78', 'C')
(33, True, 3, 'Glynn, Miss. Mary Agatha', 'female', 0.0, 0, 0, '335677', 7.75, '0', 'Q')
(34, False, 2, 'Wheadon, Mr. Edward H', 'male', 66.0, 0, 0, 'C.A. 24579', 10.5, '0', 'S')
(35, False, 1, 'Meyer, Mr. Edgar Joseph', 'male', 28.0, 1, 0, 'PC 17604', 82.1708, '0', 'C')
(36, False, 1, 'Holverson, Mr. Alexander Oskar', 'male', 42.0, 1, 0, '113789', 52.0, '0', 'S')
(37, True, 3, 'Mamee, Mr. Hanna', 'male', 0.0, 0, 0, '2677', 7.2292, '0', 'C')
(38, False, 3, 'Cann, Mr. Ernest Charles', 'male', 21.0, 0, 0, 'A./5. 2152', 8.05, '0', 'S')
(39, False, 3, 'Vander Planke, Miss. Augusta Maria', 'female', 18.0, 2, 0, '345764', 18.0, '0', 'S')
(40, True, 3, 'Nicola-Yarred, Miss. Jamila', 'female', 14.0, 1, 0, '2651', 11.2417, '0', 'C')
(41, False, 3, 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', 'female', 40.0, 1, 0, '7546', 9.475, '0', 'S')
(42, False, 2, 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', 'female', 27.0, 1, 0, '11668', 21.0, '0', 'S')
(43, False, 3, 'Kraeff, Mr. Theodor', 'male', 0.0, 0, 0, '349253', 7.8958, '0', 'C')
(44, True, 2, 'Laroche, Miss. Simonne Marie Anne Andree', 'female', 3.0, 1, 2, 'SC/Paris 2123', 41.5792, '0', 'C')
(45, True, 3, 'Devaney, Miss. Margaret Delia', 'female', 19.0, 0, 0, '330958', 7.8792, '0', 'Q')
(46, False, 3, 'Rogers, Mr. William John', 'male', 0.0, 0, 0, 'S.C./A.4. 23567', 8.05, '0', 'S')
(47, False, 3, 'Lennon, Mr. Denis', 'male', 0.0, 1, 0, '370371', 15.5, '0', 'Q')
(48, True, 3, "O'Driscoll, Miss. Bridget", 'female', 0.0, 0, 0, '14311', 7.75, '0', 'Q')
(49, False, 3, 'Samaan, Mr. Youssef', 'male', 0.0, 2, 0, '2662', 21.6792, '0', 'C')
(50, False, 3, 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'female', 18.0, 1, 0, '349237', 17.8, '0', 'S')
(51, False, 3, 'Panula, Master. Juha Niilo', 'male', 7.0, 4, 1, '3101295', 39.6875, '0', 'S')
(52, False, 3, 'Nosworthy, Mr. Richard Cater', 'male', 21.0, 0, 0, 'A/4. 39886', 7.8, '0', 'S')
(53, True, 1, 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', 49.0, 1, 0, 'PC 17572', 76.7292, 'D33', 'C')
(54, True, 2, 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'female', 29.0, 1, 0, '2926', 26.0, '0', 'S')
(55, False, 1, 'Ostby, Mr. Engelhart Cornelius', 'male', 65.0, 0, 1, '113509', 61.9792, 'B30', 'C')
(56, True, 1, 'Woolner, Mr. Hugh', 'male', 0.0, 0, 0, '19947', 35.5, 'C52', 'S')
(57, True, 2, 'Rugg, Miss. Emily', 'female', 21.0, 0, 0, 'C.A. 31026', 10.5, '0', 'S')
(58, False, 3, 'Novel, Mr. Mansouer', 'male', 28.5, 0, 0, '2697', 7.2292, '0', 'C')
(59, True, 2, 'West, Miss. Constance Mirium', 'female', 5.0, 1, 2, 'C.A. 34651', 27.75, '0', 'S')
(60, False, 3, 'Goodwin, Master. William Frederick', 'male', 11.0, 5, 2, 'CA 2144', 46.9, '0', 'S')
(61, False, 3, 'Sirayanian, Mr. Orsen', 'male', 22.0, 0, 0, '2669', 7.2292, '0', 'C')
(62, True, 1, 'Icard, Miss. Amelie', 'female', 38.0, 0, 0, '113572', 80.0, 'B28', '0')
(63, False, 1, 'Harris, Mr. Henry Birkhardt', 'male', 45.0, 1, 0, '36973', 83.475, 'C83', 'S')
(64, False, 3, 'Skoog, Master. Harald', 'male', 4.0, 3, 2, '347088', 27.9, '0', 'S')
(65, False, 1, 'Stewart, Mr. Albert A', 'male', 0.0, 0, 0, 'PC 17605', 27.7208, '0', 'C')
(66, True, 3, 'Moubarek, Master. Gerios', 'male', 0.0, 1, 1, '2661', 15.2458, '0', 'C')
(67, True, 2, 'Nye, Mrs. (Elizabeth Ramell)', 'female', 29.0, 0, 0, 'C.A. 29395', 10.5, 'F33', 'S')
(68, False, 3, 'Crease, Mr. Ernest James', 'male', 19.0, 0, 0, 'S.P. 3464', 8.1583, '0', 'S')
(69, True, 3, 'Andersson, Miss. Erna Alexandra', 'female', 17.0, 4, 2, '3101281', 7.925, '0', 'S')
(70, False, 3, 'Kink, Mr. Vincenz', 'male', 26.0, 2, 0, '315151', 8.6625, '0', 'S')
(71, False, 2, 'Jenkin, Mr. Stephen Curnow', 'male', 32.0, 0, 0, 'C.A. 33111', 10.5, '0', 'S')
(72, False, 3, 'Goodwin, Miss. Lillian Amy', 'female', 16.0, 5, 2, 'CA 2144', 46.9, '0', 'S')
(73, False, 2, 'Hood, Mr. Ambrose Jr', 'male', 21.0, 0, 0, 'S.O.C. 14879', 73.5, '0', 'S')
(74, False, 3, 'Chronopoulos, Mr. Apostolos', 'male', 26.0, 1, 0, '2680', 14.4542, '0', 'C')
(75, True, 3, 'Bing, Mr. Lee', 'male', 32.0, 0, 0, '1601', 56.4958, '0', 'S')
(76, False, 3, 'Moen, Mr. Sigurd Hansen', 'male', 25.0, 0, 0, '348123', 7.65, 'F G73', 'S')
(77, False, 3, 'Staneff, Mr. Ivan', 'male', 0.0, 0, 0, '349208', 7.8958, '0', 'S')
(78, False, 3, 'Moutal, Mr. Rahamin Haim', 'male', 0.0, 0, 0, '374746', 8.05, '0', 'S')
(79, True, 2, 'Caldwell, Master. Alden Gates', 'male', 0.83, 0, 2, '248738', 29.0, '0', 'S')
(80, True, 3, 'Dowdell, Miss. Elizabeth', 'female', 30.0, 0, 0, '364516', 12.475, '0', 'S')
(81, False, 3, 'Waelens, Mr. Achille', 'male', 22.0, 0, 0, '345767', 9.0, '0', 'S')
(82, True, 3, 'Sheerlinck, Mr. Jan Baptist', 'male', 29.0, 0, 0, '345779', 9.5, '0', 'S')
(83, True, 3, 'McDermott, Miss. Brigdet Delia', 'female', 0.0, 0, 0, '330932', 7.7875, '0', 'Q')
(84, False, 1, 'Carrau, Mr. Francisco M', 'male', 28.0, 0, 0, '113059', 47.1, '0', 'S')
(85, True, 2, 'Ilett, Miss. Bertha', 'female', 17.0, 0, 0, 'SO/C 14885', 10.5, '0', 'S')
(86, True, 3, 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'female', 33.0, 3, 0, '3101278', 15.85, '0', 'S')
(87, False, 3, 'Ford, Mr. William Neal', 'male', 16.0, 1, 3, 'W./C. 6608', 34.375, '0', 'S')
(88, False, 3, 'Slocovski, Mr. Selman Francis', 'male', 0.0, 0, 0, 'SOTON/OQ 392086', 8.05, '0', 'S')
(89, True, 1, 'Fortune, Miss. Mabel Helen', 'female', 23.0, 3, 2, '19950', 263.0, 'C23 C25 C27', 'S')
(90, False, 3, 'Celotti, Mr. Francesco', 'male', 24.0, 0, 0, '343275', 8.05, '0', 'S')
(91, False, 3, 'Christmann, Mr. Emil', 'male', 29.0, 0, 0, '343276', 8.05, '0', 'S')
(92, False, 3, 'Andreasson, Mr. Paul Edvin', 'male', 20.0, 0, 0, '347466', 7.8542, '0', 'S')
(93, False, 1, 'Chaffee, Mr. Herbert Fuller', 'male', 46.0, 1, 0, 'W.E.P. 5734', 61.175, 'E31', 'S')
(94, False, 3, 'Dean, Mr. Bertram Frank', 'male', 26.0, 1, 2, 'C.A. 2315', 20.575, '0', 'S')
(95, False, 3, 'Coxon, Mr. Daniel', 'male', 59.0, 0, 0, '364500', 7.25, '0', 'S')
(96, False, 3, 'Shorney, Mr. Charles Joseph', 'male', 0.0, 0, 0, '374910', 8.05, '0', 'S')
(97, False, 1, 'Goldschmidt, Mr. George B', 'male', 71.0, 0, 0, 'PC 17754', 34.6542, 'A5', 'C')
(98, True, 1, 'Greenfield, Mr. William Bertram', 'male', 23.0, 0, 1, 'PC 17759', 63.3583, 'D10 D12', 'C')
(99, True, 2, 'Doling, Mrs. John T (Ada Julia Bone)', 'female', 34.0, 0, 1, '231919', 23.0, '0', 'S')
(100, False, 2, 'Kantor, Mr. Sinai', 'male', 34.0, 1, 0, '244367', 26.0, '0', 'S')
(101, False, 3, 'Petranec, Miss. Matilda', 'female', 28.0, 0, 0, '349245', 7.8958, '0', 'S')
(102, False, 3, 'Petroff, Mr. Pastcho ("Pentcho")', 'male', 0.0, 0, 0, '349215', 7.8958, '0', 'S')
(103, False, 1, 'White, Mr. Richard Frasar', 'male', 21.0, 0, 1, '35281', 77.2875, 'D26', 'S')
(104, False, 3, 'Johansson, Mr. Gustaf Joel', 'male', 33.0, 0, 0, '7540', 8.6542, '0', 'S')
(105, False, 3, 'Gustafsson, Mr. Anders Vilhelm', 'male', 37.0, 2, 0, '3101276', 7.925, '0', 'S')
(106, False, 3, 'Mionoff, Mr. Stoytcho', 'male', 28.0, 0, 0, '349207', 7.8958, '0', 'S')
(107, True, 3, 'Salkjelsvik, Miss. Anna Kristine', 'female', 21.0, 0, 0, '343120', 7.65, '0', 'S')
(108, True, 3, 'Moss, Mr. Albert Johan', 'male', 0.0, 0, 0, '312991', 7.775, '0', 'S')
(109, False, 3, 'Rekic, Mr. Tido', 'male', 38.0, 0, 0, '349249', 7.8958, '0', 'S')
(110, True, 3, 'Moran, Miss. Bertha', 'female', 0.0, 1, 0, '371110', 24.15, '0', 'Q')
(111, False, 1, 'Porter, Mr. Walter Chamberlain', 'male', 47.0, 0, 0, '110465', 52.0, 'C110', 'S')
(112, False, 3, 'Zabour, Miss. Hileni', 'female', 14.5, 1, 0, '2665', 14.4542, '0', 'C')
(113, False, 3, 'Barton, Mr. David John', 'male', 22.0, 0, 0, '324669', 8.05, '0', 'S')
(114, False, 3, 'Jussila, Miss. Katriina', 'female', 20.0, 1, 0, '4136', 9.825, '0', 'S')
(115, False, 3, 'Attalah, Miss. Malake', 'female', 17.0, 0, 0, '2627', 14.4583, '0', 'C')
(116, False, 3, 'Pekoniemi, Mr. Edvard', 'male', 21.0, 0, 0, 'STON/O 2. 3101294', 7.925, '0', 'S')
(117, False, 3, 'Connors, Mr. Patrick', 'male', 70.5, 0, 0, '370369', 7.75, '0', 'Q')
(118, False, 2, 'Turpin, Mr. William John Robert', 'male', 29.0, 1, 0, '11668', 21.0, '0', 'S')
(119, False, 1, 'Baxter, Mr. Quigg Edmond', 'male', 24.0, 0, 1, 'PC 17558', 247.5208, 'B58 B60', 'C')
(120, False, 3, 'Andersson, Miss. Ellis Anna Maria', 'female', 2.0, 4, 2, '347082', 31.275, '0', 'S')
(121, False, 2, 'Hickman, Mr. Stanley George', 'male', 21.0, 2, 0, 'S.O.C. 14879', 73.5, '0', 'S')
(122, False, 3, 'Moore, Mr. Leonard Charles', 'male', 0.0, 0, 0, 'A4. 54510', 8.05, '0', 'S')
(123, False, 2, 'Nasser, Mr. Nicholas', 'male', 32.5, 1, 0, '237736', 30.0708, '0', 'C')
(124, True, 2, 'Webber, Miss. Susan', 'female', 32.5, 0, 0, '27267', 13.0, 'E101', 'S')
(125, False, 1, 'White, Mr. Percival Wayland', 'male', 54.0, 0, 1, '35281', 77.2875, 'D26', 'S')
(126, True, 3, 'Nicola-Yarred, Master. Elias', 'male', 12.0, 1, 0, '2651', 11.2417, '0', 'C')
(127, False, 3, 'McMahon, Mr. Martin', 'male', 0.0, 0, 0, '370372', 7.75, '0', 'Q')
(128, True, 3, 'Madsen, Mr. Fridtjof Arne', 'male', 24.0, 0, 0, 'C 17369', 7.1417, '0', 'S')
(129, True, 3, 'Peter, Miss. Anna', 'female', 0.0, 1, 1, '2668', 22.3583, 'F E69', 'C')
(130, False, 3, 'Ekstrom, Mr. Johan', 'male', 45.0, 0, 0, '347061', 6.975, '0', 'S')
(131, False, 3, 'Drazenoic, Mr. Jozef', 'male', 33.0, 0, 0, '349241', 7.8958, '0', 'C')
(132, False, 3, 'Coelho, Mr. Domingos Fernandeo', 'male', 20.0, 0, 0, 'SOTON/O.Q. 3101307', 7.05, '0', 'S')
(133, False, 3, 'Robins, Mrs. Alexander A (Grace Charity Laury)', 'female', 47.0, 1, 0, 'A/5. 3337', 14.5, '0', 'S')
(134, True, 2, 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'female', 29.0, 1, 0, '228414', 26.0, '0', 'S')
(135, False, 2, 'Sobey, Mr. Samuel James Hayden', 'male', 25.0, 0, 0, 'C.A. 29178', 13.0, '0', 'S')
(136, False, 2, 'Richard, Mr. Emile', 'male', 23.0, 0, 0, 'SC/PARIS 2133', 15.0458, '0', 'C')
(137, True, 1, 'Newsom, Miss. Helen Monypeny', 'female', 19.0, 0, 2, '11752', 26.2833, 'D47', 'S')
(138, False, 1, 'Futrelle, Mr. Jacques Heath', 'male', 37.0, 1, 0, '113803', 53.1, 'C123', 'S')
(139, False, 3, 'Osen, Mr. Olaf Elon', 'male', 16.0, 0, 0, '7534', 9.2167, '0', 'S')
(140, False, 1, 'Giglio, Mr. Victor', 'male', 24.0, 0, 0, 'PC 17593', 79.2, 'B86', 'C')
(141, False, 3, 'Boulos, Mrs. Joseph (Sultana)', 'female', 0.0, 0, 2, '2678', 15.2458, '0', 'C')
(142, True, 3, 'Nysten, Miss. Anna Sofia', 'female', 22.0, 0, 0, '347081', 7.75, '0', 'S')
(143, True, 3, 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'female', 24.0, 1, 0, 'STON/O2. 3101279', 15.85, '0', 'S')
(144, False, 3, 'Burke, Mr. Jeremiah', 'male', 19.0, 0, 0, '365222', 6.75, '0', 'Q')
(145, False, 2, 'Andrew, Mr. Edgardo Samuel', 'male', 18.0, 0, 0, '231945', 11.5, '0', 'S')
(146, False, 2, 'Nicholls, Mr. Joseph Charles', 'male', 19.0, 1, 1, 'C.A. 33112', 36.75, '0', 'S')
(147, True, 3, 'Andersson, Mr. August Edvard ("Wennerstrom")', 'male', 27.0, 0, 0, '350043', 7.7958, '0', 'S')
(148, False, 3, 'Ford, Miss. Robina Maggie "Ruby"', 'female', 9.0, 2, 2, 'W./C. 6608', 34.375, '0', 'S')
(149, False, 2, 'Navratil, Mr. Michel ("Louis M Hoffman")', 'male', 36.5, 0, 2, '230080', 26.0, 'F2', 'S')
(150, False, 2, 'Byles, Rev. Thomas Roussel Davids', 'male', 42.0, 0, 0, '244310', 13.0, '0', 'S')
(151, False, 2, 'Bateman, Rev. Robert James', 'male', 51.0, 0, 0, 'S.O.P. 1166', 12.525, '0', 'S')
(152, True, 1, 'Pears, Mrs. Thomas (Edith Wearne)', 'female', 22.0, 1, 0, '113776', 66.6, 'C2', 'S')
(153, False, 3, 'Meo, Mr. Alfonzo', 'male', 55.5, 0, 0, 'A.5. 11206', 8.05, '0', 'S')
(154, False, 3, 'van Billiard, Mr. Austin Blyler', 'male', 40.5, 0, 2, 'A/5. 851', 14.5, '0', 'S')
(155, False, 3, 'Olsen, Mr. Ole Martin', 'male', 0.0, 0, 0, 'Fa 265302', 7.3125, '0', 'S')
(156, False, 1, 'Williams, Mr. Charles Duane', 'male', 51.0, 0, 1, 'PC 17597', 61.3792, '0', 'C')
(157, True, 3, 'Gilnagh, Miss. Katherine "Katie"', 'female', 16.0, 0, 0, '35851', 7.7333, '0', 'Q')
(158, False, 3, 'Corn, Mr. Harry', 'male', 30.0, 0, 0, 'SOTON/OQ 392090', 8.05, '0', 'S')
(159, False, 3, 'Smiljanic, Mr. Mile', 'male', 0.0, 0, 0, '315037', 8.6625, '0', 'S')
(160, False, 3, 'Sage, Master. Thomas Henry', 'male', 0.0, 8, 2, 'CA. 2343', 69.55, '0', 'S')
(161, False, 3, 'Cribb, Mr. John Hatfield', 'male', 44.0, 0, 1, '371362', 16.1, '0', 'S')
(162, True, 2, 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)', 'female', 40.0, 0, 0, 'C.A. 33595', 15.75, '0', 'S')
(163, False, 3, 'Bengtsson, Mr. John Viktor', 'male', 26.0, 0, 0, '347068', 7.775, '0', 'S')
(164, False, 3, 'Calic, Mr. Jovo', 'male', 17.0, 0, 0, '315093', 8.6625, '0', 'S')
(165, False, 3, 'Panula, Master. Eino Viljami', 'male', 1.0, 4, 1, '3101295', 39.6875, '0', 'S')
(166, True, 3, 'Goldsmith, Master. Frank John William "Frankie"', 'male', 9.0, 0, 2, '363291', 20.525, '0', 'S')
(167, True, 1, 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', 0.0, 0, 1, '113505', 55.0, 'E33', 'S')
(168, False, 3, 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'female', 45.0, 1, 4, '347088', 27.9, '0', 'S')
(169, False, 1, 'Baumann, Mr. John D', 'male', 0.0, 0, 0, 'PC 17318', 25.925, '0', 'S')
(170, False, 3, 'Ling, Mr. Lee', 'male', 28.0, 0, 0, '1601', 56.4958, '0', 'S')
(171, False, 1, 'Van der hoef, Mr. Wyckoff', 'male', 61.0, 0, 0, '111240', 33.5, 'B19', 'S')
(172, False, 3, 'Rice, Master. Arthur', 'male', 4.0, 4, 1, '382652', 29.125, '0', 'Q')
(173, True, 3, 'Johnson, Miss. Eleanor Ileen', 'female', 1.0, 1, 1, '347742', 11.1333, '0', 'S')
(174, False, 3, 'Sivola, Mr. Antti Wilhelm', 'male', 21.0, 0, 0, 'STON/O 2. 3101280', 7.925, '0', 'S')
(175, False, 1, 'Smith, Mr. James Clinch', 'male', 56.0, 0, 0, '17764', 30.6958, 'A7', 'C')
(176, False, 3, 'Klasen, Mr. Klas Albin', 'male', 18.0, 1, 1, '350404', 7.8542, '0', 'S')
(177, False, 3, 'Lefebre, Master. Henry Forbes', 'male', 0.0, 3, 1, '4133', 25.4667, '0', 'S')
(178, False, 1, 'Isham, Miss. Ann Elizabeth', 'female', 50.0, 0, 0, 'PC 17595', 28.7125, 'C49', 'C')
(179, False, 2, 'Hale, Mr. Reginald', 'male', 30.0, 0, 0, '250653', 13.0, '0', 'S')
(180, False, 3, 'Leonard, Mr. Lionel', 'male', 36.0, 0, 0, 'LINE', 0.0, '0', 'S')
(181, False, 3, 'Sage, Miss. Constance Gladys', 'female', 0.0, 8, 2, 'CA. 2343', 69.55, '0', 'S')
(182, False, 2, 'Pernot, Mr. Rene', 'male', 0.0, 0, 0, 'SC/PARIS 2131', 15.05, '0', 'C')
(183, False, 3, 'Asplund, Master. Clarence Gustaf Hugo', 'male', 9.0, 4, 2, '347077', 31.3875, '0', 'S')
(184, True, 2, 'Becker, Master. Richard F', 'male', 1.0, 2, 1, '230136', 39.0, 'F4', 'S')
(185, True, 3, 'Kink-Heilmann, Miss. Luise Gretchen', 'female', 4.0, 0, 2, '315153', 22.025, '0', 'S')
(186, False, 1, 'Rood, Mr. Hugh Roscoe', 'male', 0.0, 0, 0, '113767', 50.0, 'A32', 'S')
(187, True, 3, 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)', 'female', 0.0, 1, 0, '370365', 15.5, '0', 'Q')
(188, True, 1, 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'male', 45.0, 0, 0, '111428', 26.55, '0', 'S')
(189, False, 3, 'Bourke, Mr. John', 'male', 40.0, 1, 1, '364849', 15.5, '0', 'Q')
(190, False, 3, 'Turcin, Mr. Stjepan', 'male', 36.0, 0, 0, '349247', 7.8958, '0', 'S')
(191, True, 2, 'Pinsky, Mrs. (Rosa)', 'female', 32.0, 0, 0, '234604', 13.0, '0', 'S')
(192, False, 2, 'Carbines, Mr. William', 'male', 19.0, 0, 0, '28424', 13.0, '0', 'S')
(193, True, 3, 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'female', 19.0, 1, 0, '350046', 7.8542, '0', 'S')
(194, True, 2, 'Navratil, Master. Michel M', 'male', 3.0, 1, 1, '230080', 26.0, 'F2', 'S')
(195, True, 1, 'Brown, Mrs. James Joseph (Margaret Tobin)', 'female', 44.0, 0, 0, 'PC 17610', 27.7208, 'B4', 'C')
(196, True, 1, 'Lurette, Miss. Elise', 'female', 58.0, 0, 0, 'PC 17569', 146.5208, 'B80', 'C')
(197, False, 3, 'Mernagh, Mr. Robert', 'male', 0.0, 0, 0, '368703', 7.75, '0', 'Q')
(198, False, 3, 'Olsen, Mr. Karl Siegwart Andreas', 'male', 42.0, 0, 1, '4579', 8.4042, '0', 'S')
(199, True, 3, 'Madigan, Miss. Margaret "Maggie"', 'female', 0.0, 0, 0, '370370', 7.75, '0', 'Q')
(200, False, 2, 'Yrois, Miss. Henriette ("Mrs Harbeck")', 'female', 24.0, 0, 0, '248747', 13.0, '0', 'S')
(201, False, 3, 'Vande Walle, Mr. Nestor Cyriel', 'male', 28.0, 0, 0, '345770', 9.5, '0', 'S')
(202, False, 3, 'Sage, Mr. Frederick', 'male', 0.0, 8, 2, 'CA. 2343', 69.55, '0', 'S')
(203, False, 3, 'Johanson, Mr. Jakob Alfred', 'male', 34.0, 0, 0, '3101264', 6.4958, '0', 'S')
(204, False, 3, 'Youseff, Mr. Gerious', 'male', 45.5, 0, 0, '2628', 7.225, '0', 'C')
(205, True, 3, 'Cohen, Mr. Gurshon "Gus"', 'male', 18.0, 0, 0, 'A/5 3540', 8.05, '0', 'S')
(206, False, 3, 'Strom, Miss. Telma Matilda', 'female', 2.0, 0, 1, '347054', 10.4625, 'G6', 'S')
(207, False, 3, 'Backstrom, Mr. Karl Alfred', 'male', 32.0, 1, 0, '3101278', 15.85, '0', 'S')
(208, True, 3, 'Albimona, Mr. Nassef Cassem', 'male', 26.0, 0, 0, '2699', 18.7875, '0', 'C')
(209, True, 3, 'Carr, Miss. Helen "Ellen"', 'female', 16.0, 0, 0, '367231', 7.75, '0', 'Q')

In [106]:
# Create or LLM Langchain object using GPT-4 deployment
# Again we need GPT-4. It is necesary in the use of Agents. GPT-35-Turbo will make many mistakes.
llm = AzureChatOpenAI(deployment_name="gpt-4", temperature=0, max_tokens=4000)
#print(llm('tell me a joke'))

In [114]:
db = SQLDatabase.from_uri(db_url)
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [93]:
print(db.table_info)

CREATE TABLE [BuildVersion] (
	[SystemInformationID] TINYINT NOT NULL IDENTITY(1,1),
	[Database Version] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VersionDate] DATETIME NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK__BuildVer__35E58ECA9D1F2EAA] PRIMARY KEY ([SystemInformationID])
)

/*
3 rows from BuildVersion table:
SystemInformationID	Database Version	VersionDate	ModifiedDate
1	10.50.91013.00	2009-10-13 00:00:00	2009-10-13 00:00:00
*/


CREATE TABLE [ErrorLog] (
	[ErrorLogID] INTEGER NOT NULL IDENTITY(1,1),
	[ErrorTime] DATETIME NOT NULL DEFAULT (getdate()),
	[UserName] NVARCHAR(128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ErrorNumber] INTEGER NOT NULL,
	[ErrorSeverity] INTEGER NULL,
	[ErrorState] INTEGER NULL,
	[ErrorProcedure] NVARCHAR(126) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ErrorLine] INTEGER NULL,
	[ErrorMessage] NVARCHAR(4000) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	CONSTRAINT [PK_ErrorLog_ErrorLogID] PRIMARY KEY ([ErrorLogID])
)

/*
3 rows from ErrorLog table:
ErrorLogID	ErrorTime	UserName	ErrorNumber	ErrorSeverity	ErrorState	ErrorProcedure	ErrorLine	ErrorMessage

*/


CREATE TABLE [Titanic] (
	[PassengerId] INTEGER NOT NULL,
	[Survived] BIT NOT NULL,
	[Pclass] INTEGER NOT NULL,
	[Name] VARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Sex] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Age] FLOAT(53) NULL,
	[SibSp] INTEGER NOT NULL,
	[Parch] INTEGER NOT NULL,
	[Ticket] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Fare] FLOAT(53) NOT NULL,
	[Cabin] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Embarked] CHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK__Titanic__88915FB0203E0CED] PRIMARY KEY ([PassengerId])
)

/*
3 rows from Titanic table:
PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	False	3	Braund, Mr. Owen Harris	male	22.0	1	0	A/5 21171	7.25	0	S
2	True	1	Cumings, Mrs. John Bradley (Florence Briggs Thayer)	female	38.0	1	0	PC 17599	71.2833	C85	C
3	True	3	Heikkinen, Miss. Laina	female	26.0	0	0	STON/O2. 3101282	7.925	0	S
*/


CREATE TABLE covidtracking (
	date VARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	state VARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	death FLOAT(53) NULL,
	[deathConfirmed] FLOAT(53) NULL,
	[deathIncrease] INTEGER NULL,
	[deathProbable] FLOAT(53) NULL,
	hospitalized FLOAT(53) NULL,
	[hospitalizedCumulative] FLOAT(53) NULL,
	[hospitalizedCurrently] FLOAT(53) NULL,
	[hospitalizedIncrease] INTEGER NULL,
	[inIcuCumulative] FLOAT(53) NULL,
	[inIcuCurrently] FLOAT(53) NULL,
	negative FLOAT(53) NULL,
	[negativeIncrease] INTEGER NULL,
	[negativeTestsAntibody] FLOAT(53) NULL,
	[negativeTestsPeopleAntibody] FLOAT(53) NULL,
	[negativeTestsViral] FLOAT(53) NULL,
	[onVentilatorCumulative] FLOAT(53) NULL,
	[onVentilatorCurrently] FLOAT(53) NULL,
	positive FLOAT(53) NULL,
	[positiveCasesViral] FLOAT(53) NULL,
	[positiveIncrease] INTEGER NULL,
	[positiveScore] INTEGER NULL,
	[positiveTestsAntibody] FLOAT(53) NULL,
	[positiveTestsAntigen] FLOAT(53) NULL,
	[positiveTestsPeopleAntibody] FLOAT(53) NULL,
	[positiveTestsPeopleAntigen] FLOAT(53) NULL,
	[positiveTestsViral] FLOAT(53) NULL,
	recovered FLOAT(53) NULL,
	[totalTestEncountersViral] FLOAT(53) NULL,
	[totalTestEncountersViralIncrease] INTEGER NULL,
	[totalTestResults] FLOAT(53) NULL,
	[totalTestResultsIncrease] INTEGER NULL,
	[totalTestsAntibody] FLOAT(53) NULL,
	[totalTestsAntigen] FLOAT(53) NULL,
	[totalTestsPeopleAntibody] FLOAT(53) NULL,
	[totalTestsPeopleAntigen] FLOAT(53) NULL,
	[totalTestsPeopleViral] FLOAT(53) NULL,
	[totalTestsPeopleViralIncrease] INTEGER NULL,
	[totalTestsViral] FLOAT(53) NULL,
	[totalTestsViralIncrease] INTEGER NULL
)

/*
3 rows from covidtracking table:
date	state	death	deathConfirmed	deathIncrease	deathProbable	hospitalized	hospitalizedCumulative	hospitalizedCurrently	hospitalizedIncrease	inIcuCumulative	inIcuCurrently	negative	negativeIncrease	negativeTestsAntibody	negativeTestsPeopleAntibody	negativeTestsViral	onVentilatorCumulative	onVentilatorCurrently	positive	positiveCasesViral	positiveIncrease	positiveScore	positiveTestsAntibody	positiveTestsAntigen	positiveTestsPeopleAntibody	positiveTestsPeopleAntigen	positiveTestsViral	recovered	totalTestEncountersViral	totalTestEncountersViralIncrease	totalTestResults	totalTestResultsIncrease	totalTestsAntibody	totalTestsAntigen	totalTestsPeopleAntibody	totalTestsPeopleAntigen	totalTestsPeopleViral	totalTestsPeopleViralIncrease	totalTestsViral	totalTestsViralIncrease
2021-03-07	AK	305.0	0.0	0	0.0	1293.0	1293.0	33.0	0	0.0	0.0	0.0	0	0.0	0.0	1660758.0	0.0	2.0	56886.0	0.0	0	0	0.0	0.0	0.0	0.0	68693.0	0.0	0.0	0	1731628.0	0	0.0	0.0	0.0	0.0	0.0	0	1731628.0	0
2021-03-07	AL	10148.0	7963.0	-1	2185.0	45976.0	45976.0	494.0	0	2676.0	0.0	1931711.0	2087	0.0	0.0	0.0	1515.0	0.0	499819.0	392077.0	408	0	0.0	0.0	0.0	0.0	0.0	295690.0	0.0	0	2323788.0	2347	0.0	0.0	119757.0	0.0	2323788.0	2347	0.0	0
2021-03-07	AR	5319.0	4308.0	22	1011.0	14926.0	14926.0	335.0	11	0.0	141.0	2480716.0	3267	0.0	0.0	2480716.0	1533.0	65.0	324818.0	255726.0	165	0	0.0	0.0	0.0	81803.0	0.0	315517.0	0.0	0	2736442.0	3380	0.0	0.0	0.0	481311.0	0.0	0	2736442.0	3380
*/

In [115]:
from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [110]:
agent_executor.run("how many rows are there in the titanic table?")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input:
Observation: covidtracking, BuildVersion, ErrorLog, Titanic
Thought:I see the Titanic table in the list of tables. I will now write a query to count the number of rows in the Titanic table.
Action: query_checker_sql_db
Action Input: SELECT COUNT(*) FROM Titanic
Observation: SELECT COUNT(*) FROM Titanic
Thought:The query is correct. I will now execute the query to get the number of rows in the Titanic table.
Action: query_sql_db
Action Input: SELECT COUNT(*) FROM Titanic
Observation: [(891,)]
Thought:I now know the final answer
Final Answer: There are 891 rows in the Titanic table.

> Finished chain.

'There are 891 rows in the Titanic table.'

In [111]:
agent_executor.run("what is the name of the oldest survivor of titanic?")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input:
Observation: covidtracking, BuildVersion, ErrorLog, Titanic
Thought:I should check the schema of the Titanic table to see what columns are available.
Action: schema_sql_db
Action Input: Titanic
Observation:
CREATE TABLE [Titanic] (
	[PassengerId] INTEGER NOT NULL,
	[Survived] BIT NOT NULL,
	[Pclass] INTEGER NOT NULL,
	[Name] VARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Sex] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Age] FLOAT(53) NULL,
	[SibSp] INTEGER NOT NULL,
	[Parch] INTEGER NOT NULL,
	[Ticket] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Fare] FLOAT(53) NOT NULL,
	[Cabin] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Embarked] CHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK__Titanic__88915FB0203E0CED] PRIMARY KEY ([PassengerId])
)

/*
3 rows from Titanic table:
PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	False	3	Braund, Mr. Owen Harris	male	22.0	1	0	A/5 21171	7.25	0	S
2	True	1	Cumings, Mrs. John Bradley (Florence Briggs Thayer)	female	38.0	1	0	PC 17599	71.2833	C85	C
3	True	3	Heikkinen, Miss. Laina	female	26.0	0	0	STON/O2. 3101282	7.925	0	S
*/
Thought:I should write a query to find the oldest survivor of the Titanic by selecting the Name and Age columns, filtering by Survived, and ordering by Age in descending order. Then, I will limit the results to 1.
Action: query_checker_sql_db
Action Input: SELECT Name, Age FROM Titanic WHERE Survived = 1 ORDER BY Age DESC LIMIT 1
Observation: SELECT Name, Age FROM Titanic WHERE Survived = 1 ORDER BY Age DESC LIMIT 1
Thought:The query is correct. Now I will execute it to find the oldest survivor of the Titanic.
Action: query_sql_db
Action Input: SELECT Name, Age FROM Titanic WHERE Survived = 1 ORDER BY Age DESC LIMIT 1
Observation: Error: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Incorrect syntax near 'LIMIT'. (102) (SQLExecDirectW)")
[SQL: SELECT Name, Age FROM Titanic WHERE Survived = 1 ORDER BY Age DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/14/f405)
Thought:I made a mistake in the query syntax. I should use TOP instead of LIMIT for MSSQL.
Action: query_checker_sql_db
Action Input: SELECT TOP 1 Name, Age FROM Titanic WHERE Survived = 1 ORDER BY Age DESC
Observation: The original query seems to be correct. Here it is reproduced:

SELECT TOP 1 Name, Age FROM Titanic WHERE Survived = 1 ORDER BY Age DESC
Thought:The query is correct. Now I will execute it to find the oldest survivor of the Titanic.
Action: query_sql_db
Action Input: SELECT TOP 1 Name, Age FROM Titanic WHERE Survived = 1 ORDER BY Age DESC

Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 1.0 seconds as it raised RateLimitError: Requests to the Creates a completion for the chat message Operation under Azure OpenAI API version 2023-03-15-preview have exceeded token rate limit of your current OpenAI S0 pricing tier. Please retry after 12 seconds. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit..

Observation: [('Barkworth, Mr. Algernon Henry Wilson', 80.0)]
Thought:

Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 2.0 seconds as it raised RateLimitError: Requests to the Creates a completion for the chat message Operation under Azure OpenAI API version 2023-03-15-preview have exceeded token rate limit of your current OpenAI S0 pricing tier. Please retry after 11 seconds. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit..
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Requests to the Creates a completion for the chat message Operation under Azure OpenAI API version 2023-03-15-preview have exceeded token rate limit of your current OpenAI S0 pricing tier. Please retry after 9 seconds. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit..
Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 8.0 seconds as it raised RateLimitError: Requests to the Creates a completion for the chat message Operation under Azure OpenAI API version 2023-03-15-preview have exceeded token rate limit of your current OpenAI S0 pricing tier. Please retry after 5 seconds. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit..

I now know the final answer.
Final Answer: The oldest survivor of the Titanic is Barkworth, Mr. Algernon Henry Wilson, who was 80 years old.

> Finished chain.

'The oldest survivor of the Titanic is Barkworth, Mr. Algernon Henry Wilson, who was 80 years old.'

In [119]:
agent_executor.run("which kind of machine learning model should I use to predict the likelihood of survival in titanic?")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input:
Observation: covidtracking, BuildVersion, ErrorLog, Titanic
Thought:I see a Titanic table, I should check its schema to see if it has relevant information.
Action: schema_sql_db
Action Input: Titanic
Observation:
CREATE TABLE [Titanic] (
	[PassengerId] INTEGER NOT NULL,
	[Survived] BIT NOT NULL,
	[Pclass] INTEGER NOT NULL,
	[Name] VARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Sex] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Age] FLOAT(53) NULL,
	[SibSp] INTEGER NOT NULL,
	[Parch] INTEGER NOT NULL,
	[Ticket] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Fare] FLOAT(53) NOT NULL,
	[Cabin] VARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Embarked] CHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK__Titanic__88915FB0203E0CED] PRIMARY KEY ([PassengerId])
)

/*
3 rows from Titanic table:
PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	False	3	Braund, Mr. Owen Harris	male	22.0	1	0	A/5 21171	7.25	0	S
2	True	1	Cumings, Mrs. John Bradley (Florence Briggs Thayer)	female	38.0	1	0	PC 17599	71.2833	C85	C
3	True	3	Heikkinen, Miss. Laina	female	26.0	0	0	STON/O2. 3101282	7.925	0	S
*/
Thought:The Titanic table has information about passengers and their survival status. I can't directly recommend a machine learning model, but I can provide some insights based on the available data.
Action: query_sql_db
Action Input: SELECT TOP 10 Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Survived FROM Titanic ORDER BY PassengerId
Observation: [(3, 'male', 22.0, 1, 0, 7.25, 'S', False), (1, 'female', 38.0, 1, 0, 71.2833, 'C', True), (3, 'female', 26.0, 0, 0, 7.925, 'S', True), (1, 'female', 35.0, 1, 0, 53.1, 'S', True), (3, 'male', 35.0, 0, 0, 8.05, 'S', False), (3, 'male', 0.0, 0, 0, 8.4583, 'Q', False), (1, 'male', 54.0, 0, 0, 51.8625, 'S', False), (3, 'male', 2.0, 3, 1, 21.075, 'S', False), (3, 'female', 27.0, 0, 2, 11.1333, 'S', True), (2, 'female', 14.0, 1, 0, 30.0708, 'C', True)]
Thought:I now know the final answer
Final Answer: I can't directly recommend a specific machine learning model, but you can use the Titanic dataset to train a model. The dataset includes features such as Pclass, Sex, Age, SibSp, Parch, Fare, and Embarked, along with the survival status of each passenger. You can try various classification models like logistic regression, decision trees, or random forests to predict the likelihood of survival.

> Finished chain.

"I can't directly recommend a specific machine learning model, but you can use the Titanic dataset to train a model. The dataset includes features such as Pclass, Sex, Age, SibSp, Parch, Fare, and Embarked, along with the survival status of each passenger. You can try various classification models like logistic regression, decision trees, or random forests to predict the likelihood of survival."